<html>
    <body>
        <form action=http://localhost:5000/add method=POST>
            <table>
                <tr>
                    <td>Crop Name</td>
                    <td><input type=text name=crop_name></td>
                </tr>
                <tr>
                    <td>Soil Type</td>
                    <td><input type=text name=soil_type></td>
                </tr>
                <tr>
                    <td>Area</td>
                    <td><input type=text name=area></td>
                </tr>
                <tr>
                    <td><input type=submit value=Add></td>
                </tr>
            </table>
        </form>
    </body>
</html>