<html>
    <body>
        <form action=http://localhost:5000/check method=POST>
            <table>
                <tr>
                    <td>Active</td>
                    <td><input type=number name=active></td>
                </tr>
                <tr>
                    <td>Recovered</td>
                    <td><input type=number name=recovered></td>
                </tr>
                
                <tr>
                    <td><input type=submit value=Check></td>
                </tr>
            </table>
        </form>
    </body>
</html>