<html>  
   <body>  
       <h3 style="color:rgb(255, 0, 119)">JNNCE DEPARTMENT LIST</h3>
        <ul>  
            <li style="color: coral;"><a href="/cs">Computer Science</a></li>
            <li style="color: crimson;"><a href="/cv">Civil</a></li>
            <li style="color: darkgreen;"><a href="/ee">Electronics and Electrical</a></li>
            <li style="color: darkred;"><a href="/ec">Electronics and Communication</a></li>
            <li style="color: deepskyblue;"><a href="/ise">Information Science</a></li>
            <li style="color: green;"><a href="/m">Mechanical</a></li>
            
        </ul> 
   </body>  
</html>  