<html>  
   <body>  
       <h3>Exam Fee Registration Form</h3>  
      <form action = "http://localhost:5000/status" method = "POST">  
           
         <p>USN <input type = "text" name = "usn" required></p> 
         <p>Name <input type = "text" name = "name" required></p> 
         <p>Sem 
             <select name="sem">
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
                 <option>6</option>
                 <option>7</option>
                 <option>8</option>
             </select>
 
         </p>  
         <p>Subjects Applied<textarea name = "subjects"  style="margin-left:5px; margin-top: 2px;" required></textarea></p>
         <p>Fee Amount<input type="number" name="fee" required></p>  
         <p><input type = "submit" value = "submit" /></p>  
      </form>  
   </body>  
</html>  
 
 