<html>
    <body>
        <form action=http://localhost:5000/add method=POST>
            <table>
                <tr>
                    <td>District</td>
                    <td><input type=text name=district></td>
                </tr>
                <tr>
                    <td>Active</td>
                    <td><input type=number name=active></td>
                </tr>
                <tr>
                    <td>Recovered</td>
                    <td><input type=number name=recovered></td>
                </tr>
                <tr>
                    <td>Containment_Zones</td>
                    <td><input type=number name=containment_zones></td>
                </tr>
                <tr>
                    <td>Death</td>
                    <td><input type=number name=death></td>
                </tr>
                <tr>
                    <td>Lockdown</td>
                    <td><input type=text name=lockdown></td>
                </tr>
                <tr>
                    <td><input type=submit value=Add></td>
                </tr>
            </table>
        </form>
    </body>
</html>