<html>  
   <body>  
       <h3>Register by filling the following form.</h3>  
      <form action = "http://localhost:5000/success" method = "POST">  
         <p>Name <input type = "text" name = "name" required></p>  
         <p>USN <input type = "text" name = "usn" required></p>  
         <p>Sem 
             <select name="sem">
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
                 <option>6</option>
                 <option>7</option>
                 <option>8</option>
             </select>
 
         </p>  
         <p>Subjects <textarea name = "Subjects" required></textarea></p>  
         <p><input type = "submit" value = "submit" /></p>  
      </form>  
   </body>  
</html>  
 
