<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form method = "post" action="/add">
        <table>
            <tr><td>Theatre ID</td><td><input type="text" name="tid"></td></tr>
            <tr><td>Number of Seats</td><td><input type="number" name="nos"></td></tr>
            <tr><td>Seats Type</td><td><input type="text" name="seats"></td></tr>
            <tr><td>Year</td><td><input type="number" name="year"></td></tr>
            <tr><td><input type="submit" value="Submit"></td></tr>
        </table>
    </form>
</body>
</html>